h1 {
    color: white; 
    margin: auto;
    padding: 20px;
    font-family: 'Raleway_Italic';
    font-size: 300%;
}

p {
    color: white; 
    margin: auto;
    padding: 10px;
    font-family: 'Raleway';
    font-size: 90%;
    word-break: break-all;
}

.img {
    height: 400px;
}

.divArchetype {
    float : left;
    padding-left: 1%;
}
