<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <form class="d-flex input-group w-auto">
            <div class="logo">
                <img src="assets/Symbol/DARK.png" alt="My App Logo" />
            </div>
            <div class="title">
                <h1>YGOREC</h1>
            </div>
            <div (click)="goHome()">
                <p class="options">Home</p>
            </div>
            <div (click)="goTopCards()">
                <p class="options">Top Cards</p>
            </div>
            <div (click)="goArchetypes()">
                <p class="options">Archetypes</p>
            </div>
            <div class="search-bar-nav">
                <app-search-bar></app-search-bar>
            </div>
        </form>
    </div>
</nav>