.logo {
    float : left;
}

.search-bar-nav {
    float : right;
    margin-top: 25px;
    margin-right: 200px;
}

input {
    height:50px;
}

.search-input{
    width: 200%;
}

.title {
    float: left;
    margin-left: 15px;
}

img {
    margin-top: 10px;
    margin-left: 10px;
    height: 80px;
}

nav {
    height: 100px;
    background: linear-gradient(to right, blueviolet, 70%, #235dfc);
}

h1 {
    color: white;
    font-family: fantasy;
    font-size: 200%;

}
