<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <form class="d-flex input-group w-auto">
            <div class="logo">
                <img src="assets/dark_symbol.png" alt="My App Logo" />
            </div>
            <div class="title">
                <h1>YGOREC</h1>
            </div>
            <div class="search-bar-nav">
                <input type="search" class="search-input" placeholder="Search Yu-Gi-Oh! Card" aria-label="Search"
                    aria-describedby="search-addon" />
                <span class="input-group-text text-white border-0" id="search-addon">
                    <i class="fas fa-search"></i>
                </span>
            </div>
        </form>
    </div>
</nav>