<div class="ng-autocomplete">
    <ng-autocomplete
      placeholder="Search Yu-Gi-Oh! Card"
      [data]="cards"
      [searchKeyword]="keyword"
      placeHolder="Enter the Country Name"
      (selected)='selectEvent($event)'
      historyIdentifier="countries"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>
  
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.Label"></a>
    </ng-template>
  
    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>  