<div class="div-header">
    <div class="div-name">
        <h1>{{ selectedCard.Name }}</h1>
    </div>
    <div class="div-limitation" *ngIf="selectedCard.Limitation == 0">
        <img class="limitation" src="assets/Limitation/forbidden.png">
    </div>
    <div class="div-limitation" *ngIf="selectedCard.Limitation == 1">
        <img class="limitation" src="assets/Limitation/limited.png">
    </div>
    <div class="div-limitation" *ngIf="selectedCard.Limitation == 2">
        <img class="limitation" src="assets/Limitation/semi-limited.png">
    </div>
</div>
<img class="mainCard" [src]=selectedCard.Image>
<div class="div-type">
    <p class="type"><strong>Attribut :</strong> <img class="symbol" [src]=this.selectedCard.Symbol></p>
    <p class="description"><strong>Description :</strong> {{ selectedCard.Desc }}</p>
    <div *ngIf="selectedCard.Types[0] != 'Monster'; else elseBlock">
    </div>
    <ng-template #elseBlock>
        <p class="attack"><strong>Attack :</strong> {{ selectedCard.Atk }}</p>
        <p class="defense"><strong>Defense :</strong> {{ selectedCard.Def }}</p>
        <p class="race"><strong>Race :</strong> {{ selectedCard.Race }}</p>
    </ng-template>
</div>



<div class="div-played-card">
    <h2>Top Cards</h2>
    <ng-template ngFor let-card [ngForOf]="playedCards">
        <div (click)="goToCard(card)" class="divCard">
            <div class="limitation-card" *ngIf="card.Limitation == 0">
                <img class="limitation" src="assets/Limitation/forbidden.png">
            </div>
            <div class="limitation-card" *ngIf="card.Limitation == 1">
                <img class="limitation" src="assets/Limitation/limited.png">
            </div>
            <div class="limitation-card" *ngIf="card.Limitation == 2">
                <img class="limitation" src="assets/Limitation/semi-limited.png">
            </div>
            <img class="img" src="https://images.ygoprodeck.com/images{{card.Url}}.jpg">
            <p class="card-info">{{ card.Amount / totalDeck * 100 | number : '1.2-2'}}% of all Decks<br>{{card.Average | number : '1.2-2'}} copy per Deck</p>
        </div>
    </ng-template>
</div>