p {
    color: white; 
    margin: auto;
    padding: 10px;
    font-family: 'Raleway';
    font-size: 150%;
}

h1 {
    color: white; 
    margin: auto;
    padding: 10px;
    font-family: 'Raleway_Italic';
    font-size: 300%;
}

h2 {
    color: white;
    margin: auto;
    padding: 10px;
    font-family: 'Raleway_Italic';
    font-size: 200%;
    padding-bottom: 20px;
}

.mainCard {
    height: 500px;
    float: left;
}

.div-type {
    padding-left :400px;
    
}

.symbol {
    padding-left: 10px;
    height: 30px;
}

.limitation {
    padding-top: 10px;
    height: 50px;
}

.div-header {
    display: flex;
}
.div-name {
}

.div-limitation {
    margin-top: 5px;
}

.img {
    height: 400px;
}

.divCard {
    float : left;
    width: 18%;
    padding-left: 2%;
}

.div-played-card {
    padding-top: 2%;
    width: 100%;
    float: left;
}

.card-info {
    color: white; 
    margin: auto;
    padding: 10px;
    font-family: 'Raleway';
    font-size: 90%;
    word-break: break-all;
}

.limitation-card {
    padding-top: 340px;
    height: 50px;
    position: absolute;
}

.loadMore {
    padding-left: 20px;
    float : left;
}

.buttonText {
    font-size: 150%;
    color: black; 
}