html { background-color: #3A3A3A; } 

@font-face {
    font-family: Raleway;
    src: url("./assets/Raleway-Italic-VariableFont_wght.ttf")
  }

  @font-face {
    font-family: Raleway_Italic;
    src: url("./assets/Raleway-Italic-VariableFont_wght.ttf")
  }