h1 {
    color: white;
    font-size: 200%;
    margin: auto;
    padding: 10px;
}

.center-div {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}