.img {
    height: 400px;
}

p {
    color: white; 
    margin: auto;
    padding: 10px;
    font-family: 'Raleway';
    font-size: 90%;
    word-break: break-all;
}

h1 {
    color: white; 
    margin: auto;
    padding: 20px;
    font-family: 'Raleway_Italic';
    font-size: 300%;
}

.divCard {
    float : left;
    width: 18%;
    padding-left: 2%;
}

.buttonText {
    font-size: 150%;
    color: black; 
}

.banlistButton {
    width: 10%;
}

.divBanlist {
    padding: 20px;
    padding-bottom: 2%;
}

.limitation {
    padding-top: 350px;
    height: 50px;
    position: absolute;
}

.loadMore {
    padding-left: 20px;
}