<div>
    <h1>Top Cards</h1>
</div>

<div class="divBanlist">
    <button class="banlistButton" (click)="activateBanList(0)">
        <p class="buttonText">All</p>
    </button>
    <button class="banlistButton" (click)="activateBanList(1)">
        <p class="buttonText">BanList</p>
    </button>
</div>

<div>
    <ng-template ngFor let-card [ngForOf]="topCards">
        <div (click)="goToCard(card)" class="divCard">
            <div class="div-limitation" *ngIf="card.Limitation == 0">
                <img class="limitation" src="assets/Limitation/forbidden.png">
            </div>
            <div class="div-limitation" *ngIf="card.Limitation == 1">
                <img class="limitation" src="assets/Limitation/limited.png">
            </div>
            <div class="div-limitation" *ngIf="card.Limitation == 2">
                <img class="limitation" src="assets/Limitation/semi-limited.png">
            </div>
            <img class="img" src="https://images.ygoprodeck.com/images{{card.Url}}.jpg">
            <p>{{ card.Amount / totalDeck * 100 | number : '1.2-2'}}% of all Decks<br>{{card.Average | number : '1.2-2'}} copy per Deck</p>
        </div>
    </ng-template>
</div>

<div class="loadMore">
    <button (click)="loadMore()">
        <p class="buttonText">Load More</p>
    </button>
</div>